MVCWebSite/Connected Services/ServiceReferenceServer/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServer" />
  <xs:element name="VerifyUserIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="user" nillable="true" type="q1:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUserIdentityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDActiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="user" nillable="true" type="q2:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDActiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIDActiveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserWithTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="userInfo" nillable="true" type="q3:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserWithTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserWithTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllElementCarrello">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="user" nillable="true" type="q4:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllElementCarrelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetAllElementCarrelloResult" nillable="true" type="q5:ArrayOfCarrello" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProdottiSeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="user" nillable="true" type="q6:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProdottiSellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetAllProdottiSellerResult" nillable="true" type="q7:ArrayOfProdotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProdotti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProdottiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetAllProdottiResult" nillable="true" type="q8:ArrayOfProdotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetSingleProductResult" nillable="true" type="q9:Prodotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetProductByCategoryResult" nillable="true" type="q10:ArrayOfProdotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="prodotto" nillable="true" type="q11:Prodotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProdottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="prodotto" nillable="true" type="q12:Prodotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProdottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="prodotto" nillable="true" type="q13:Prodotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProdottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="carrello" nillable="true" type="q14:Carrello" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCartProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfAlreadyExistInCartUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="carrello" nillable="true" type="q15:Carrello" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfAlreadyExistInCartUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfAlreadyExistInCartUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="carrello" nillable="true" type="q16:Carrello" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCartProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCreditoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfQtIsOk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfQtIsOkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfQtIsOkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="carrello" nillable="true" type="q17:Carrello" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductFromCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortafoglio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="utente" nillable="true" type="q18:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortafoglioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePortafoglioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQtAviable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQtAviableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductQtAviableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShopProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="utente" nillable="true" type="q19:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShopProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShopProductsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenditeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetVenditeResult" nillable="true" type="q20:ArrayOfCompraVendita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcquisti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcquistiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetAcquistiResult" nillable="true" type="q21:ArrayOfCompraVendita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q22:ArrayOfCredenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDisableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="user" nillable="true" type="q23:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDisableUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableDisableUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRoleOfUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccreditoVendite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="credenziali" nillable="true" type="q24:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccreditoVenditeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccreditoVenditeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetInformationUserResult" nillable="true" type="q25:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInformationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="userinfo" nillable="true" type="q26:Credenziali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInformationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInformationUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOldPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOldPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOldPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValutazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="valutazione" nillable="true" type="q27:Valutazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValutazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddValutazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserBoughtProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserBoughtProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfUserBoughtProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValutazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValutazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetValutazioniResult" nillable="true" type="q28:ArrayOfValutazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFServer" minOccurs="0" name="GetLastSalesResult" nillable="true" type="q29:ArrayOfProdotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserAlreadyEvaluated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ASIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserAlreadyEvaluatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfUserAlreadyEvaluatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>